[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[column]
	ui = auto
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate
[include]
	path = ~/.gitconfig.local
