#!/bin/bash

# Quality of life
alias ls="ls -1 -haFG --color"
alias cat="bat"
alias activate="source venv/bin/activate"

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Git shortcuts
alias g="git"
alias gs="git status"
alias ga="git add ."
alias gd="git diff"
alias gc="git commit -m"
alias gb="git branch"
alias gk="git checkout"
alias gl="git log --oneline --decorate --graph"
alias ghr="git reset --hard HEAD"
alias gsh="git push"
alias gll="git pull"

# Open applications
alias chrome="open -a 'google chrome'"
alias safari="open -a 'safari'"
alias sublime="open -a 'sublime text'"
alias vscode="code"

# Code running
alias python="python3"
alias python3="python3.10"

