#!/bin/bash

# Quality of life
alias ls="ls -haFG --color"
alias cat="bat"

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Open applications
alias chrome="open -a 'google chrome'"
alias safari="open -a 'safari'"
alias sublime="open -a 'sublime text'"
alias vscode="code"

# Code running
alias python="python3"

# Run ishan.coffee
alias thoughts="cd ~/Documents/projects/websites/ishan.coffee; hugo-obsidian -input=content -output=assets/indices -index -root=.; open http://localhost:1313; hugo server --disableFastRender;"
