#!/bin/bash

# Happenstance
alias hpnlocal="bash ~/happenstance/happenstance/util/quickstart.sh"
alias hpnsql="cd ~/happenstance/happenstance; activate; python util/ask_sql.py"

# Quality of life
alias ls="ls -1 -haFG --color"
alias fc="expr \$(ls -1 | wc -l) - 2"
alias cat="bat"
alias activate="source venv/bin/activate"
alias brd="bun run dev"
alias nrd="brd"
alias backupmac="rsync -avz --info=progress2 --stats --exclude .git/ --exclude venv/ --exclude .next/ --exclude __pycache__/ --exclude node_modules/ ~/Documents/ ~/happenstance ~/ishan.coffee $DEVBOX_IP:~/documents/mac-backup"

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Git shortcuts
alias g="git"
alias gs="git status"
alias ga="git add ."
alias gd="git diff"
alias gc="git commit -m"
alias gb="git branch"
alias gk="git checkout"
alias gl="git log --oneline --decorate --graph"
alias ghr="git reset --hard HEAD"
alias gsh="git push"
alias gll="git pull"
alias gf="git fetch"

# Open applications
alias chrome="open -a 'google chrome'"
alias sublime="open -a 'sublime text'"

# Code running
alias p="python3.10"
alias python="python3.10"
alias python3="python3.10"
alias pythno="python3.10"

# Tailscale
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

