#!/bin/bash

# Make a local git repo and link it to a new GitHub repo
function mkgit () {
    # Check if folder exists already
    if test -d "$1"; then
        echo "Folder already exists."
        return 1
    fi

    # Make sure this is running in the Documents folder
    if ! [[ "$(pwd)" =~ ~/Documents.*$ ]]; then
        echo "Error: Please navigate to the documents folder before running this script."
        return 1
    fi

    # Make sure arguments were passed
    if [ "$#" -ne 2 ]; then
        echo "Error: This script requires two arguments."
        return 1
    fi

    # Create a local directory
    mkdir "$1"
    cd "$1" || return

    # Add README, gitignore, and .vscode
    echo "# Hello world!" > README.md
    echo ".vscode/" > .gitignore
    mkdir ".vscode"
    ( cd ".vscode" || return
    touch settings.json )

    # Initialize local git repo
    git init -b main
    git add .
    git commit -m "Initial commit"

    # Link local repo to GitHub
    gh repo create --source=. --"$2" --remote=upstream --push
}

# Run stable diffusion locally
function generate() {
	# Navigate to stable-diffusion repo
	cd ~/Documents/projects/ml/stable-diffusion
	source venv/bin/activate

	python scripts/txt2img.py --prompt "'$*'" --n_samples 1 --n_iter 1 --plms --precision full
}

# Refresh dotfiles repo in Documents/projects/dotfiles
function refresh_dots() {
	# Copy main dotfiles
	cp .bash_prompt .bash_profile .bashrc .aliases .exports .functions .gitconfig .gitignore .hushlogin .inputrc .vimrc Documents/projects/dotfiles

	# VSCode
	cp ~/Library/Application\ Support/Code/User/{settings.json,keybindings.json} Documents/projects/dotfiles/vscode
	cp -R ~/Library/Application\ Support/Code/User/snippets Documents/projects/dotfiles/vscode
}