[user]
	name = Ishan Shah
	email = ishan0102@utexas.edu
	signingkey = D13F3585E8A3FCC0
[core]
	excludesfile = /Users/ishanshah/.gitignore_global
    pager = delta
[init]
	defaultBranch = main
[column]
	ui = auto
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[branch]
	sort = -committerdate
[gpg]
	program = /opt/homebrew/bin/gpg

[delta]
	line-numbers = true
	side-by-side = true