#!/bin/bash

# Quality of life
alias ls="ls -1 -haFG --color"
alias activate="source venv/bin/activate"

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Git shortcuts
alias g="git"
alias gs="git status"
alias ga="git add ."
alias gd="git diff"
alias gc="git commit -m"
alias gb="git branch"
alias gk="git checkout"
alias gl="git log --oneline --decorate --graph"
alias ghr="git reset --hard HEAD"
alias gsh="git push"
alias gll="git pull"

# Code running
alias python="python3"

